@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.top-carousel .react-multi-carousel-dot-list,
.reference-carousel .react-multi-carousel-dot-list,
.reference-carousel .react-multiple-carousel__arrow--right,
.reference-carousel .react-multiple-carousel__arrow--left {
  display: none;
} 
